<a href="https://colab.research.google.com/github/hagalaz-star/PROJECT/blob/main/AI_06_%EC%B5%9C%EC%9B%90%EC%A4%80_cs2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

aisles = pd.read_csv('/content/drive/MyDrive/project/aisles.csv')
departments = pd.read_csv('/content/drive/MyDrive/project/departments.csv')
order_products_prior = pd.read_csv('/content/drive/MyDrive/project/order_products__prior.csv')
order_products_train = pd.read_csv('/content/drive/MyDrive/project/order_products__train.csv')
orders = pd.read_csv('/content/drive/MyDrive/project/orders.csv')
products= pd.read_csv('/content/drive/MyDrive/project/products.csv')

orders: This table includes all orders, namely prior, train, and test.(orders_id)

order_products_train: This table includes training orders.(order_id and product_id) and indicates whether a product in an order is a reorder or not (through the reordered variable).

order_products_prior : This table includes prior orders. It has a composite primary key (order_id and product_id) and indicates whether a product in an order is a reorder or not (through the reordered variable).

products: This table includes all products.(product_id)

aisles: This table includes all aisles. (aisle_id)

departments: This table includes all departments.(department_id)

In [3]:
print(aisles.isnull().sum())
aisles

aisle_id    0
aisle       0
dtype: int64

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [4]:
print(departments.isnull().sum())
departments

department_id    0
department       0
dtype: int64

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [5]:
print(order_products_prior.isnull().sum())
order_products_prior

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [6]:
print(order_products_train.isnull().sum())
order_products_train

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [7]:
print(orders.isnull().sum())
orders

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
0         2539329        1  ...                 8                     NaN
1         2398795        1  ...                 7                    15.0
2          473747        1  ...                12                    21.0
3         2254736        1  ...                 7                    29.0
4          431534        1  ...                15                    28.0
...           ...      ...  ...               ...                     ...
3421078   2266710   206209  ...                18                    29.0
3421079   1854736   206209  ...                10                    30.0
3421080    626363   206209  ...                12                    18.0
3421081   2977660   206209  ...                12                     7.0
3421082    272231   206209  ...                14                    30.0

[3421083 rows x 7 columns]

In [8]:
print(products.isnull().sum())
products

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

       product_id  ... department_id
0               1  ...            19
1               2  ...            13
2               3  ...             7
3               4  ...             1
4               5  ...            13
...           ...  ...           ...
49683       49684  ...             5
49684       49685  ...             1
49685       49686  ...             3
49686       49687  ...             8
49687       49688  ...            11

[49688 rows x 4 columns]

# 데이터 전처리

In [9]:
# 결측치 처리('days_since_prior_order':첫 구매인경우 nan값이 입력되어 있음 => 0으로 대체)
#orders['days_since_prior_order'] = orders['days_since_prior_order'].fillna(0)
orders = orders.dropna()

In [10]:
print(orders.shape)
orders['eval_set'].value_counts()

(3214874, 7)

prior    3008665
train     131209
test       75000
Name: eval_set, dtype: int64

In [11]:
orders[(orders['user_id']==10)]

    order_id  user_id  ... order_hour_of_day  days_since_prior_order
84     68288       10  ...                15                    30.0
85   2115522       10  ...                19                    12.0
86     83395       10  ...                15                    14.0
87   1353310       10  ...                20                    23.0
88   1822501       10  ...                19                    30.0

[5 rows x 7 columns]

In [12]:
orders[orders['user_id'].isin(orders['user_id'][orders['eval_set']=='test'])]

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
27         444309        3  ...                19                     9.0
28        3002854        3  ...                16                    21.0
29        2037211        3  ...                18                    20.0
30        2710558        3  ...                17                    12.0
31        1972919        3  ...                16                     7.0
...           ...      ...  ...               ...                     ...
3421064   3059777   206208  ...                10                    13.0
3421065   2239861   206208  ...                 4                     9.0
3421066   1285346   206208  ...                11                     5.0
3421067   1882108   206208  ...                22                     7.0
3421068    803273   206208  ...                11                     4.0

[1167497 rows x 7 columns]

In [13]:
orders['user_id'].value_counts()

53684     99
201623    99
50817     99
176951    99
88911     99
          ..
24224      3
199509     3
32420      3
21310      3
196830     3
Name: user_id, Length: 206209, dtype: int64

In [14]:
import random
random.seed(2021)

# 1만명의 유저만 샘플링 (첫시도)
user = random.sample(orders['user_id'][orders['eval_set']=='train'].unique().tolist(), 10000)
#user = orders['user_id'][orders['eval_set']=='train'].unique().tolist() #샘플링 안하고 시도 (실패)
# orders에서 test dataset 관련 기록(prior포함) 제외
orders_2 = orders[orders['user_id'].isin(user)]

In [15]:
print("유저 인원:",len(user), "// 주문건수 합:",len(orders_2))

유저 인원: 10000 // 주문건수 합: 155579

In [16]:
order_products_prior = order_products_prior[order_products_prior['order_id'].isin(orders_2['order_id'])]

# 데이터 합치기

In [17]:
# 제품 정보 : product + aisles + department data
product_m = products.merge(aisles).merge(departments)
product_m

       product_id  ... department
0               1  ...     snacks
1              78  ...     snacks
2             102  ...     snacks
3             172  ...     snacks
4             285  ...     snacks
...           ...  ...        ...
49683       22827  ...       bulk
49684       28655  ...       bulk
49685       30365  ...       bulk
49686       38007  ...       bulk
49687       48778  ...       bulk

[49688 rows x 6 columns]

In [18]:
# product one-hot encoding data 
product_enc = pd.get_dummies(product_m, columns=['aisle'], prefix=[None])
product_enc

       product_id  ... yogurt
0               1  ...      0
1              78  ...      0
2             102  ...      0
3             172  ...      0
4             285  ...      0
...           ...  ...    ...
49683       22827  ...      0
49684       28655  ...      0
49685       30365  ...      0
49686       38007  ...      0
49687       48778  ...      0

[49688 rows x 139 columns]

In [19]:
order_product = pd.concat([order_products_prior,order_products_train]) 
order_product

         order_id  product_id  add_to_cart_order  reordered
56              6       40462                  1          0
57              6       15873                  2          0
58              6       41897                  3          0
566            69       43875                  1          1
567            69       27845                  2          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[2844704 rows x 4 columns]

In [20]:
# 주문 항목 정보 : product_m + order_product
order_detail = order_product.merge(product_m,how='left') #.sample(n=100000, random_state=2021)

In [21]:
order_detail#.sort_values(by=order_detail['order_id'])

         order_id  product_id  ...                          aisle  department
0               6       40462  ...                   refrigerated   beverages
1               6       15873  ...                        laundry   household
2               6       41897  ...         air fresheners candles   household
3              69       43875  ...              baby food formula      babies
4              69       27845  ...                           milk  dairy eggs
...           ...         ...  ...                            ...         ...
2844699   3421063       14233  ...  water seltzer sparkling water   beverages
2844700   3421063       35548  ...                 prepared meals        deli
2844701   3421070       35951  ...                soy lactosefree  dairy eggs
2844702   3421070       16953  ...                        spreads      pantry
2844703   3421070        4724  ...               packaged produce     produce

[2844704 rows x 9 columns]

In [22]:
data = orders_2.merge(order_detail)#, on ='order_id')

In [23]:
data

         order_id  user_id  ...              aisle       department
0         3166874       48  ...   fresh vegetables          produce
1         3166874       48  ...                tea        beverages
2         3166874       48  ...        fresh herbs          produce
3         3166874       48  ...   fresh vegetables          produce
4         3166874       48  ...       fresh fruits          produce
...           ...      ...  ...                ...              ...
1566105   2048154   206185  ...          dry pasta  dry goods pasta
1566106   2048154   206185  ...        pasta sauce  dry goods pasta
1566107   2048154   206185  ...  baby food formula           babies
1566108   2048154   206185  ...  baby food formula           babies
1566109   2048154   206185  ...  baby food formula           babies

[1566110 rows x 15 columns]

In [24]:
data.isnull().sum()

order_id                  0
user_id                   0
eval_set                  0
order_number              0
order_dow                 0
order_hour_of_day         0
days_since_prior_order    0
product_id                0
add_to_cart_order         0
reordered                 0
product_name              0
aisle_id                  0
department_id             0
aisle                     0
department                0
dtype: int64

# 유튜브 추천 알고리즘

In [25]:
import zipfile
import pandas as pd
import numpy as np
import random

In [26]:
data['user_id'] = data['user_id'].astype(int)
data['product_id'] = data['product_id'].astype(int)
data['order_id'] = data['order_id'].astype(int)
data['days_since_prior_order'] = data['days_since_prior_order'].astype(int)

data = data.set_index(['user_id']).sort_index()
data = data.reset_index()

In [27]:
# 유저 인덱스 인코딩
user_ids = data["user_id"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
#userencoded2user = {i: x for i, x in enumerate(user_ids)}

# 주문 인덱스 인코딩
order_ids = data["order_id"].unique().tolist()
order2order_encoded = {x: i for i, x in enumerate(order_ids)}
#order_encoded2order = {i: x for i, x in enumerate(order_ids)}

# 상품 인덱스 인코딩
product_ids = data["product_id"].unique().tolist()
product2product_encoded = {x: i for i, x in enumerate(product_ids)}
#product_encoded2product = {i: x for i, x in enumerate(product_ids)}

# 상품 이름 인코딩
pd_name_ids = data["product_name"].unique().tolist()
pd_name2pd_name_encoded = {x: i for i, x in enumerate(pd_name_ids)}
#pd_name_encoded2pd_name = {i: x for i, x in enumerate(pd_name_ids)}

# 상품 대분류 인덱스 인코딩
department_ids = data["department_id"].unique().tolist()
department2department_encoded = {x: i for i, x in enumerate(department_ids)}
#department_encoded2department = {i: x for i, x in enumerate(department_ids)}

# 상품 소분류 인덱스 인코딩
aisle_ids = data["aisle_id"].unique().tolist()
aisle2aisle_encoded = {x: i for i, x in enumerate(aisle_ids)}
#aisle_encoded2aisle = {i: x for i, x in enumerate(aisle_ids)}

# 상품 대분류명 인덱스 인코딩
dept_name_ids = data["department"].unique().tolist()
dept_name2dept_name_encoded = {x: i for i, x in enumerate(dept_name_ids)}
#dept_name_encoded2dept_name = {i: x for i, x in enumerate(dept_name_ids)}

# 상품 소분류명 인덱스 인코딩
aisle_name_ids = data["aisle"].unique().tolist()
aisle_name2aisle_name_encoded = {x: i for i, x in enumerate(aisle_name_ids)}
#aisle_name_encoded2aisle_name = {i: x for i, x in enumerate(aisle_name_ids)}

In [28]:
# 인코딩으로 바꾸기
data["user"] = data["user_id"].map(user2user_encoded)
data["product"] = data["product_id"].map(product2product_encoded)
data["order"] = data["order_id"].map(order2order_encoded)
data["pd_name"] = data["product_name"].map(pd_name2pd_name_encoded)

User기준으로 데이터 조정(feature engineering)

'구매자 기준으로 데이터프레임 재생성

In [29]:
order_hist = data.groupby(['user'])['order_id'].unique().apply(list).reset_index()
product_hist = data.groupby(['user'])['product_id'].apply(list).reset_index()# unique().적용해보기
order_dow_hist = data.groupby(['user'])['order_dow'].apply(list).reset_index() 
order_hour_of_day_hist = data.groupby(['user'])['order_hour_of_day'].apply(list).reset_index()
days_since_prior_order_hist = data.groupby(['user'])['days_since_prior_order'].apply(list).reset_index()

In [30]:
data.groupby(['user'])['product_id'].apply(list)

user
0       [45007, 22613, 28842, 21405, 26209, 19508, 248...
1       [12341, 6184, 10441, 46149, 196, 14309, 46149,...
2       [49075, 39121, 21724, 48017, 36695, 28289, 391...
3       [34213, 34574, 7029, 25305, 41950, 31338, 4235...
4       [2186, 42699, 25753, 46496, 42139, 24157, 2415...
                              ...
9995    [20512, 18918, 17948, 24489, 13176, 19057, 817...
9996    [12099, 40706, 43129, 48119, 8523, 7192, 35761...
9997    [24852, 24710, 27307, 32642, 20919, 12508, 267...
9998    [23650, 26165, 11087, 48775, 36305, 47977, 428...
9999    [30217, 35473, 25915, 14852, 15829, 24613, 399...
Name: product_id, Length: 10000, dtype: object

In [31]:
data.groupby(['user'])['order_dow'].unique().apply(list)

user
0                      [5, 6]
1             [1, 2, 3, 5, 4]
2             [4, 6, 0, 1, 2]
3       [0, 4, 1, 6, 2, 5, 3]
4                [4, 5, 2, 1]
                ...
9995    [0, 2, 3, 5, 1, 6, 4]
9996       [2, 4, 3, 1, 5, 6]
9997                [0, 6, 5]
9998    [0, 1, 2, 4, 6, 3, 5]
9999          [3, 2, 1, 5, 4]
Name: order_dow, Length: 10000, dtype: object

In [32]:
order_product_hist = data.groupby(['order'])['product_id'].apply(list).reset_index()

In [33]:
order_hist # 사용자의 주문목록

      user                                           order_id
0        0  [3166874, 2766710, 501067, 1643524, 1657641, 7...
1        1  [1318871, 1261384, 2100631, 580568, 1680554, 2...
2        2  [964058, 2163945, 3349827, 1376443, 2655621, 1...
3        3  [2568280, 1763414, 3092533, 414538, 1538989, 3...
4        4  [251784, 3211781, 1469604, 1515062, 1342998, 2...
...    ...                                                ...
9995  9995  [1911923, 549547, 3130715, 2582484, 1258873, 2...
9996  9996  [992039, 2551929, 1053779, 2760916, 1877978, 1...
9997  9997          [2822394, 83431, 56199, 1597643, 1782820]
9998  9998  [3115357, 1209728, 164466, 3304125, 1983173, 1...
9999  9999  [2275747, 1597200, 497488, 1874713, 1286942, 1...

[10000 rows x 2 columns]

In [34]:
# 최다(빈도) 구매자의 주문 수(heavy user)

max([x for x in order_hist['order_id'].apply(len)])

99

In [35]:
product_hist  # 사용자가 구매한 상품

      user                                         product_id
0        0  [45007, 22613, 28842, 21405, 26209, 19508, 248...
1        1  [12341, 6184, 10441, 46149, 196, 14309, 46149,...
2        2  [49075, 39121, 21724, 48017, 36695, 28289, 391...
3        3  [34213, 34574, 7029, 25305, 41950, 31338, 4235...
4        4  [2186, 42699, 25753, 46496, 42139, 24157, 2415...
...    ...                                                ...
9995  9995  [20512, 18918, 17948, 24489, 13176, 19057, 817...
9996  9996  [12099, 40706, 43129, 48119, 8523, 7192, 35761...
9997  9997  [24852, 24710, 27307, 32642, 20919, 12508, 267...
9998  9998  [23650, 26165, 11087, 48775, 36305, 47977, 428...
9999  9999  [30217, 35473, 25915, 14852, 15829, 24613, 399...

[10000 rows x 2 columns]

In [36]:
order_product_hist # 상품 주문

         order                                         product_id
0            0  [45007, 22613, 28842, 21405, 26209, 19508, 248...
1            1  [45007, 36695, 21405, 20339, 24830, 26209, 182...
2            2  [45007, 20339, 26209, 43662, 28842, 8057, 4399...
3            3  [47823, 20339, 4455, 26298, 17284, 4855, 45007...
4            4  [43662, 35855, 5621, 33000, 34012, 24940, 4455...
...        ...                                                ...
155574  155574                [49273, 34134, 35206, 35473, 10673]
155575  155575  [6052, 1716, 49296, 31268, 41673, 48337, 47167...
155576  155576                   [4978, 24613, 1716, 6052, 49296]
155577  155577  [27966, 49273, 49296, 35206, 48337, 7658, 4015...
155578  155578  [9088, 24291, 40153, 24835, 28427, 20191, 2409...

[155579 rows x 2 columns]

In [37]:
# 주문 당 가장 많은 제품을 구입한 경우

max([x for x in order_product_hist['product_id'].apply(len)])

145

In [38]:
order_dow_hist

      user                                          order_dow
0        0  [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, ...
1        1  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2        2  [4, 4, 4, 4, 4, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, ...
3        3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 4, 4, ...
4        4  [4, 4, 4, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...
...    ...                                                ...
9995  9995  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
9996  9996  [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, ...
9997  9997  [0, 0, 0, 0, 0, 0, 0, 0, 6, 6, 6, 6, 6, 6, 6, ...
9998  9998  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, ...
9999  9999  [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...

[10000 rows x 2 columns]

In [39]:
order_hour_of_day_hist # 주문 시간

      user                                  order_hour_of_day
0        0  [13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...
1        1  [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...
2        2  [10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 1...
3        3  [9, 9, 9, 9, 9, 9, 9, 9, 9, 14, 14, 14, 14, 14...
4        4  [14, 14, 14, 14, 14, 14, 18, 18, 18, 18, 18, 1...
...    ...                                                ...
9995  9995  [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 1...
9996  9996  [13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...
9997  9997  [19, 19, 19, 19, 19, 19, 19, 19, 21, 21, 21, 2...
9998  9998  [14, 14, 14, 14, 14, 14, 14, 14, 14, 9, 9, 9, ...
9999  9999  [8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, ...

[10000 rows x 2 columns]

In [40]:
days_since_prior_order_hist # 사전 주문 날짜

      user                             days_since_prior_order
0        0  [27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 2...
1        1  [7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...
2        2  [10, 10, 10, 10, 10, 10, 30, 30, 30, 30, 30, 3...
3        3  [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...
4        4  [8, 8, 8, 30, 30, 30, 20, 20, 20, 20, 20, 20, ...
...    ...                                                ...
9995  9995  [22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 2...
9996  9996  [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 1...
9997  9997  [18, 18, 18, 18, 18, 18, 18, 18, 30, 30, 30, 3...
9998  9998  [28, 28, 28, 28, 28, 28, 28, 28, 28, 30, 30, 3...
9999  9999  [26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 3...

[10000 rows x 2 columns]

In [41]:
# User dataset 생성 (학습에 사용할 데이터, prior order:[data['eval_set']=='prior'])
user_data = data[['user','user_id']].merge(order_hist, how='left').merge(product_hist, how='left').merge(order_dow_hist, how='left').merge(order_hour_of_day_hist, how = 'left').merge(days_since_prior_order_hist,how='left') #eval_set
user_data

         user  ...                             days_since_prior_order
0           0  ...  [27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 2...
1           0  ...  [27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 2...
2           0  ...  [27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 2...
3           0  ...  [27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 2...
4           0  ...  [27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 2...
...       ...  ...                                                ...
1566105  9999  ...  [26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 3...
1566106  9999  ...  [26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 3...
1566107  9999  ...  [26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 3...
1566108  9999  ...  [26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 3...
1566109  9999  ...  [26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 3...

[1566110 rows x 7 columns]

In [42]:
user_data = user_data.drop_duplicates('user') # 중복데이터 삭제
user_data.shape

(10000, 7)

In [43]:
data_product_prior=data['product'][data['eval_set']=='prior']

# predict_labels 생성

In [44]:
user_data['predict_labels'] = user_data['product_id'].apply(lambda x: int(random.uniform(0,data['product_id'].max())))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
user_data

         user  ...  predict_labels
0           0  ...           28640
124         1  ...           47853
298         2  ...           48619
393         3  ...           26678
895         4  ...           19366
...       ...  ...             ...
1564717  9995  ...           36353
1565137  9996  ...           29010
1565463  9997  ...           37642
1565511  9998  ...           11406
1566023  9999  ...           41117

[10000 rows x 8 columns]

In [46]:
train_data = user_data[(user_data.user>=30) &
                       (user_data.user<=39)]
test_data = user_data[(user_data.user>=40) &
                      (user_data.user<=59)]

# 모델 학습 및 추출

In [47]:
data["product_id"].max()

49687

In [48]:
data["product"].max()

35053

In [49]:
# 하이퍼파라미터 정의

EMBEDDING_DIMS = 16
DENSE_UNITS = 64
DROPOUT_PCT = 0.1
ALPHA = 0.1
NUM_CLASSES = data["product_id"].max() + 2 
LEARNING_RATE = 0.1

In [50]:
# custom layers

import tensorflow as tf
class MaskedEmbeddingsAggregatorLayer(tf.keras.layers.Layer):
    def __init__(self, agg_mode='sum', **kwargs):
        super(MaskedEmbeddingsAggregatorLayer, self).__init__(**kwargs)

        if agg_mode not in ['sum', 'mean']:
            raise NotImplementedError('mode {} not implemented!'.format(agg_mode))
        self.agg_mode = agg_mode
    
    @tf.function
    def call(self, inputs, mask=None):
        masked_embeddings = tf.ragged.boolean_mask(inputs, mask)
        if self.agg_mode == 'sum':
            aggregated =  tf.reduce_sum(masked_embeddings, axis=1)
        elif self.agg_mode == 'mean':
            aggregated = tf.reduce_mean(masked_embeddings, axis=1)
        return aggregated
    
    def get_config(self):
        # this is used when loading a saved model that uses a custom layer
        return {'agg_mode': self.agg_mode}
    
class L2NormLayer(tf.keras.layers.Layer):
    def __init__(self, **kwargs):
        super(L2NormLayer, self).__init__(**kwargs)
    
    @tf.function
    def call(self, inputs, mask=None):
        if mask is not None:
            inputs = tf.ragged.boolean_mask(inputs, mask).to_tensor()
        return tf.math.l2_normalize(inputs, axis=-1)

    def compute_mask(self, inputs, mask):
        return mask

In [51]:
import tensorflow as tf
import datetime
import os


input_user = tf.keras.Input(shape=(None, ), name='user') 
input_product_hist = tf.keras.layers.Input(shape=(None,), name='product_hist')
input_order_dow_hist = tf.keras.layers.Input(shape=(None,), name='order_dow_hist')
input_order_hour_of_day_hist = tf.keras.Input(shape=(None, ), name='order_hour_of_day_hist')
input_days_since_prior_order_hist = tf.keras.Input(shape=(None, ), name='days_since_prior_order_hist')


# layer 구성
features_embedding_layer = tf.keras.layers.Embedding(input_dim=NUM_CLASSES, output_dim=EMBEDDING_DIMS, 
                                            mask_zero=True, trainable=True, name='features_embeddings')
labels_embedding_layer = tf.keras.layers.Embedding(input_dim=NUM_CLASSES, output_dim=EMBEDDING_DIMS, 
                                            mask_zero=True, trainable=True, name='labels_embeddings')

avg_embeddings = MaskedEmbeddingsAggregatorLayer(agg_mode='mean', name='aggregate_embeddings')

dense_1 = tf.keras.layers.Dense(units=DENSE_UNITS, name='dense_1')
dense_2 = tf.keras.layers.Dense(units=DENSE_UNITS, name='dense_2')
dense_3 = tf.keras.layers.Dense(units=DENSE_UNITS, name='dense_3')
l2_norm_1 = L2NormLayer(name='l2_norm_1')

dense_output = tf.keras.layers.Dense(NUM_CLASSES, activation=tf.nn.softmax, name='dense_output')

#--- features
features_embeddings = features_embedding_layer(input_user)
l2_norm_features = l2_norm_1(features_embeddings)
avg_features = avg_embeddings(l2_norm_features)

labels_product_embeddings = labels_embedding_layer(input_product_hist)
l2_norm_product = l2_norm_1(labels_product_embeddings)
avg_product = avg_embeddings(l2_norm_product)

labels_order_dow_embeddings = labels_embedding_layer(input_order_dow_hist)
l2_norm_order_dow = l2_norm_1(labels_order_dow_embeddings)
avg_order_dow = avg_embeddings(l2_norm_order_dow)

labels_order_hour_embeddings = labels_embedding_layer(input_order_hour_of_day_hist)
l2_norm_order_hour = l2_norm_1(labels_order_hour_embeddings)
avg_order_hour = avg_embeddings(l2_norm_order_hour)

labels_since_prior_embeddings = labels_embedding_layer(input_days_since_prior_order_hist)
l2_norm_since_prior = l2_norm_1(labels_since_prior_embeddings)
avg_since_prior = avg_embeddings(l2_norm_since_prior)


print(avg_features)
print(avg_order_dow)
print(avg_order_hour)
print(avg_since_prior)

# 임베딩 벡터들 연결
concat_inputs = tf.keras.layers.Concatenate(axis=1)([avg_product,
                                                     avg_order_dow, 
                                                     avg_order_hour,
                                                     avg_since_prior
                                                     ])
# Dense Layers
dense_1_features = dense_1(concat_inputs)
dense_1_relu = tf.keras.layers.ReLU(name='dense_1_relu')(dense_1_features)
dense_1_batch_norm = tf.keras.layers.BatchNormalization(name='dense_1_batch_norm')(dense_1_relu)

dense_2_features = dense_2(dense_1_relu)
dense_2_relu = tf.keras.layers.ReLU(name='dense_2_relu')(dense_2_features)
dense_2_batch_norm = tf.keras.layers.BatchNormalization(name='dense_2_batch_norm')(dense_2_relu)

dense_3_features = dense_3(dense_2_relu)
dense_3_relu = tf.keras.layers.ReLU(name='dense_3_relu')(dense_3_features)
dense_3_batch_norm = tf.keras.layers.BatchNormalization(name='dense_3_batch_norm')(dense_3_relu)

outputs = dense_output(dense_3_batch_norm)

#Optimizer
optimiser = tf.keras.optimizers.Adam(learning_rate=LEARNING_RATE)

#--- prep model
model = tf.keras.models.Model(
    inputs=[input_product_hist,
            input_order_dow_hist,
            input_order_hour_of_day_hist,
            input_days_since_prior_order_hist
            ],
    outputs=[outputs]
)
logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)
model.compile(optimizer=optimiser, loss='sparse_categorical_crossentropy', metrics=['acc']) 

model.summary()

KerasTensor(type_spec=TensorSpec(shape=(None, 16), dtype=tf.float32, name=None), name='aggregate_embeddings/PartitionedCall:0', description="created by layer 'aggregate_embeddings'")
KerasTensor(type_spec=TensorSpec(shape=(None, 16), dtype=tf.float32, name=None), name='aggregate_embeddings/PartitionedCall:0', description="created by layer 'aggregate_embeddings'")
KerasTensor(type_spec=TensorSpec(shape=(None, 16), dtype=tf.float32, name=None), name='aggregate_embeddings/PartitionedCall:0', description="created by layer 'aggregate_embeddings'")
KerasTensor(type_spec=TensorSpec(shape=(None, 16), dtype=tf.float32, name=None), name='aggregate_embeddings/PartitionedCall:0', description="created by layer 'aggregate_embeddings'")
Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 product_hist (InputLayer)      [(None, None)]       0           []

 order_dow_hist (InputLayer)    [(None, None)]       0           []

 order_hour_of_day_hist (InputL  [(None, None)]      0           []
 ayer)

 days_since_prior_order_hist (I  [(None, None)]      0           []
 nputLayer)

 labels_embeddings (Embedding)  (None, None, 16)     795024      ['product_hist[0][0]',
                                                                  'order_dow_hist[0][0]',
                                                                  'order_hour_of_day_hist[0][0]',
                                                                  'days_since_prior_order_hist[0][
                                                                 0]']

 l2_norm_1 (L2NormLayer)        (None, None, 16)     0           ['labels_embeddings[0][0]',
                                                                  'labels_embeddings[1][0]',
                                                                  'labels_embeddings[2][0]',
                                                                  'labels_embeddings[3][0]']

 aggregate_embeddings (MaskedEm  (None, 16)          0           ['l2_norm_1[1][0]',
 beddingsAggregatorLayer)                                         'l2_norm_1[2][0]',
                                                                  'l2_norm_1[3][0]',
                                                                  'l2_norm_1[4][0]']

 concatenate (Concatenate)      (None, 64)           0           ['aggregate_embeddings[1][0]',
                                                                  'aggregate_embeddings[2][0]',
                                                                  'aggregate_embeddings[3][0]',
                                                                  'aggregate_embeddings[4][0]']

 dense_1 (Dense)                (None, 64)           4160        ['concatenate[0][0]']

 dense_1_relu (ReLU)            (None, 64)           0           ['dense_1[0][0]']

 dense_2 (Dense)                (None, 64)           4160        ['dense_1_relu[0][0]']

 dense_2_relu (ReLU)            (None, 64)           0           ['dense_2[0][0]']

 dense_3 (Dense)                (None, 64)           4160        ['dense_2_relu[0][0]']

 dense_3_relu (ReLU)            (None, 64)           0           ['dense_3[0][0]']

 dense_3_batch_norm (BatchNorma  (None, 64)          256         ['dense_3_relu[0][0]']
 lization)

 dense_output (Dense)           (None, 49689)        3229785     ['dense_3_batch_norm[0][0]']

==================================================================================================
Total params: 4,037,545
Trainable params: 4,037,417
Non-trainable params: 128
__________________________________________________________________________________________________

In [58]:
train_data

      user  ...  predict_labels
5193    30  ...           28979
5482    31  ...           25251
5514    32  ...           12382
5565    33  ...           30245
5800    34  ...           38130
6108    35  ...           29049
6349    36  ...           39861
6412    37  ...            2747
6483    38  ...           31212
6502    39  ...           30464

[10 rows x 8 columns]

In [59]:
# 학습(training)
history = model.fit([tf.keras.preprocessing.sequence.pad_sequences(train_data['product_id']),
                     tf.keras.preprocessing.sequence.pad_sequences(train_data['order_dow']),
                     tf.keras.preprocessing.sequence.pad_sequences(train_data['order_hour_of_day']), #+ 1e-10, dtype=float
                     tf.keras.preprocessing.sequence.pad_sequences(train_data['days_since_prior_order'])
                    ],train_data['predict_labels'].values,
                  #batch_size=16,
                  steps_per_epoch=1, epochs=300)

Epoch 1/300
1/1 [==============================] - 0s 26ms/step - loss: 0.8149 - acc: 0.7000
Epoch 2/300
1/1 [==============================] - 0s 26ms/step - loss: 1.0993 - acc: 0.6000
Epoch 3/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8513 - acc: 0.6000
Epoch 4/300
1/1 [==============================] - 0s 23ms/step - loss: 1.0953 - acc: 0.5000
Epoch 5/300
1/1 [==============================] - 0s 24ms/step - loss: 0.7716 - acc: 0.5000
Epoch 6/300
1/1 [==============================] - 0s 23ms/step - loss: 0.8111 - acc: 0.5000
Epoch 7/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8897 - acc: 0.5000
Epoch 8/300
1/1 [==============================] - 0s 21ms/step - loss: 0.7054 - acc: 0.7000
Epoch 9/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8110 - acc: 0.5000
Epoch 10/300
1/1 [==============================] - 0s 24ms/step - loss: 0.8119 - acc: 0.6000
Epoch 11/300
1/1 [==============================] - 0s 24ms/step - loss: 0.9104 - acc: 0.6000
Epoch 12/300
1/1 [==============================] - 0s 23ms/step - loss: 0.8216 - acc: 0.7000
Epoch 13/300
1/1 [==============================] - 0s 29ms/step - loss: 0.8457 - acc: 0.7000
Epoch 14/300
1/1 [==============================] - 0s 24ms/step - loss: 0.8826 - acc: 0.6000
Epoch 15/300
1/1 [==============================] - 0s 22ms/step - loss: 0.9330 - acc: 0.6000
Epoch 16/300
1/1 [==============================] - 0s 32ms/step - loss: 0.6907 - acc: 0.6000
Epoch 17/300
1/1 [==============================] - 0s 24ms/step - loss: 0.7688 - acc: 0.6000
Epoch 18/300
1/1 [==============================] - 0s 30ms/step - loss: 0.6756 - acc: 0.7000
Epoch 19/300
1/1 [==============================] - 0s 23ms/step - loss: 0.8881 - acc: 0.5000
Epoch 20/300
1/1 [==============================] - 0s 31ms/step - loss: 0.7579 - acc: 0.5000
Epoch 21/300
1/1 [==============================] - 0s 28ms/step - loss: 0.6441 - acc: 0.7000
Epoch 22/300
1/1 [==============================] - 0s 28ms/step - loss: 0.7707 - acc: 0.7000
Epoch 23/300
1/1 [==============================] - 0s 32ms/step - loss: 0.7279 - acc: 0.7000
Epoch 24/300
1/1 [==============================] - 0s 26ms/step - loss: 0.8168 - acc: 0.5000
Epoch 25/300
1/1 [==============================] - 0s 24ms/step - loss: 0.6104 - acc: 0.7000
Epoch 26/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8533 - acc: 0.5000
Epoch 27/300
1/1 [==============================] - 0s 24ms/step - loss: 0.8812 - acc: 0.4000
Epoch 28/300
1/1 [==============================] - 0s 25ms/step - loss: 0.6253 - acc: 0.8000
Epoch 29/300
1/1 [==============================] - 0s 27ms/step - loss: 0.6971 - acc: 0.6000
Epoch 30/300
1/1 [==============================] - 0s 21ms/step - loss: 1.3002 - acc: 0.6000
Epoch 31/300
1/1 [==============================] - 0s 22ms/step - loss: 0.7674 - acc: 0.6000
Epoch 32/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7876 - acc: 0.5000
Epoch 33/300
1/1 [==============================] - 0s 23ms/step - loss: 1.2331 - acc: 0.4000
Epoch 34/300
1/1 [==============================] - 0s 22ms/step - loss: 0.6473 - acc: 0.7000
Epoch 35/300
1/1 [==============================] - 0s 23ms/step - loss: 0.8575 - acc: 0.5000
Epoch 36/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8467 - acc: 0.5000
Epoch 37/300
1/1 [==============================] - 0s 25ms/step - loss: 0.7424 - acc: 0.8000
Epoch 38/300
1/1 [==============================] - 0s 28ms/step - loss: 0.9954 - acc: 0.6000
Epoch 39/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8966 - acc: 0.5000
Epoch 40/300
1/1 [==============================] - 0s 27ms/step - loss: 0.7533 - acc: 0.6000
Epoch 41/300
1/1 [==============================] - 0s 29ms/step - loss: 0.7752 - acc: 0.6000
Epoch 42/300
1/1 [==============================] - 0s 22ms/step - loss: 0.7518 - acc: 0.6000
Epoch 43/300
1/1 [==============================] - 0s 27ms/step - loss: 0.6955 - acc: 0.7000
Epoch 44/300
1/1 [==============================] - 0s 34ms/step - loss: 1.0008 - acc: 0.5000
Epoch 45/300
1/1 [==============================] - 0s 28ms/step - loss: 0.8360 - acc: 0.6000
Epoch 46/300
1/1 [==============================] - 0s 25ms/step - loss: 0.6908 - acc: 0.7000
Epoch 47/300
1/1 [==============================] - 0s 25ms/step - loss: 0.7488 - acc: 0.6000
Epoch 48/300
1/1 [==============================] - 0s 27ms/step - loss: 0.7990 - acc: 0.5000
Epoch 49/300
1/1 [==============================] - 0s 24ms/step - loss: 0.6829 - acc: 0.7000
Epoch 50/300
1/1 [==============================] - 0s 21ms/step - loss: 0.7129 - acc: 0.6000
Epoch 51/300
1/1 [==============================] - 0s 27ms/step - loss: 1.0167 - acc: 0.5000
Epoch 52/300
1/1 [==============================] - 0s 26ms/step - loss: 0.9564 - acc: 0.5000
Epoch 53/300
1/1 [==============================] - 0s 28ms/step - loss: 0.7232 - acc: 0.7000
Epoch 54/300
1/1 [==============================] - 0s 22ms/step - loss: 0.6991 - acc: 0.7000
Epoch 55/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8083 - acc: 0.7000
Epoch 56/300
1/1 [==============================] - 0s 30ms/step - loss: 0.8207 - acc: 0.7000
Epoch 57/300
1/1 [==============================] - 0s 27ms/step - loss: 1.0900 - acc: 0.7000
Epoch 58/300
1/1 [==============================] - 0s 30ms/step - loss: 1.0708 - acc: 0.6000
Epoch 59/300
1/1 [==============================] - 0s 21ms/step - loss: 0.7571 - acc: 0.7000
Epoch 60/300
1/1 [==============================] - 0s 26ms/step - loss: 0.7103 - acc: 0.7000
Epoch 61/300
1/1 [==============================] - 0s 29ms/step - loss: 1.0380 - acc: 0.4000
Epoch 62/300
1/1 [==============================] - 0s 28ms/step - loss: 0.7121 - acc: 0.7000
Epoch 63/300
1/1 [==============================] - 0s 24ms/step - loss: 0.6930 - acc: 0.6000
Epoch 64/300
1/1 [==============================] - 0s 21ms/step - loss: 0.7577 - acc: 0.5000
Epoch 65/300
1/1 [==============================] - 0s 22ms/step - loss: 1.3349 - acc: 0.5000
Epoch 66/300
1/1 [==============================] - 0s 24ms/step - loss: 0.7935 - acc: 0.5000
Epoch 67/300
1/1 [==============================] - 0s 23ms/step - loss: 0.8379 - acc: 0.6000
Epoch 68/300
1/1 [==============================] - 0s 27ms/step - loss: 0.6602 - acc: 0.8000
Epoch 69/300
1/1 [==============================] - 0s 23ms/step - loss: 1.0989 - acc: 0.6000
Epoch 70/300
1/1 [==============================] - 0s 25ms/step - loss: 0.7262 - acc: 0.6000
Epoch 71/300
1/1 [==============================] - 0s 33ms/step - loss: 0.7884 - acc: 0.7000
Epoch 72/300
1/1 [==============================] - 0s 29ms/step - loss: 0.9166 - acc: 0.5000
Epoch 73/300
1/1 [==============================] - 0s 20ms/step - loss: 0.7246 - acc: 0.7000
Epoch 74/300
1/1 [==============================] - 0s 24ms/step - loss: 0.7959 - acc: 0.6000
Epoch 75/300
1/1 [==============================] - 0s 27ms/step - loss: 0.8688 - acc: 0.5000
Epoch 76/300
1/1 [==============================] - 0s 26ms/step - loss: 1.0569 - acc: 0.8000
Epoch 77/300
1/1 [==============================] - 0s 26ms/step - loss: 0.6309 - acc: 0.8000
Epoch 78/300
1/1 [==============================] - 0s 24ms/step - loss: 0.7031 - acc: 0.6000
Epoch 79/300
1/1 [==============================] - 0s 28ms/step - loss: 0.6858 - acc: 0.8000
Epoch 80/300
1/1 [==============================] - 0s 25ms/step - loss: 0.7242 - acc: 0.6000
Epoch 81/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7645 - acc: 0.6000
Epoch 82/300
1/1 [==============================] - 0s 22ms/step - loss: 0.6127 - acc: 0.9000
Epoch 83/300
1/1 [==============================] - 0s 28ms/step - loss: 0.8397 - acc: 0.7000
Epoch 84/300
1/1 [==============================] - 0s 28ms/step - loss: 1.0056 - acc: 0.5000
Epoch 85/300
1/1 [==============================] - 0s 30ms/step - loss: 0.6726 - acc: 0.8000
Epoch 86/300
1/1 [==============================] - 0s 26ms/step - loss: 0.7958 - acc: 0.6000
Epoch 87/300
1/1 [==============================] - 0s 30ms/step - loss: 0.8424 - acc: 0.6000
Epoch 88/300
1/1 [==============================] - 0s 34ms/step - loss: 0.8245 - acc: 0.5000
Epoch 89/300
1/1 [==============================] - 0s 28ms/step - loss: 0.9163 - acc: 0.6000
Epoch 90/300
1/1 [==============================] - 0s 26ms/step - loss: 0.6908 - acc: 0.7000
Epoch 91/300
1/1 [==============================] - 0s 22ms/step - loss: 0.6863 - acc: 0.7000
Epoch 92/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8772 - acc: 0.8000
Epoch 93/300
1/1 [==============================] - 0s 24ms/step - loss: 0.6489 - acc: 0.8000
Epoch 94/300
1/1 [==============================] - 0s 25ms/step - loss: 0.6780 - acc: 0.4000
Epoch 95/300
1/1 [==============================] - 0s 29ms/step - loss: 0.8358 - acc: 0.4000
Epoch 96/300
1/1 [==============================] - 0s 26ms/step - loss: 1.2720 - acc: 0.6000
Epoch 97/300
1/1 [==============================] - 0s 25ms/step - loss: 0.5837 - acc: 0.6000
Epoch 98/300
1/1 [==============================] - 0s 23ms/step - loss: 1.3478 - acc: 0.7000
Epoch 99/300
1/1 [==============================] - 0s 24ms/step - loss: 0.8202 - acc: 0.5000
Epoch 100/300
1/1 [==============================] - 0s 34ms/step - loss: 0.7041 - acc: 0.6000
Epoch 101/300
1/1 [==============================] - 0s 25ms/step - loss: 0.7158 - acc: 0.8000
Epoch 102/300
1/1 [==============================] - 0s 27ms/step - loss: 0.7554 - acc: 0.5000
Epoch 103/300
1/1 [==============================] - 0s 29ms/step - loss: 0.7308 - acc: 0.7000
Epoch 104/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8249 - acc: 0.7000
Epoch 105/300
1/1 [==============================] - 0s 31ms/step - loss: 0.6001 - acc: 0.7000
Epoch 106/300
1/1 [==============================] - 0s 30ms/step - loss: 0.6871 - acc: 0.7000
Epoch 107/300
1/1 [==============================] - 0s 22ms/step - loss: 1.1134 - acc: 0.4000
Epoch 108/300
1/1 [==============================] - 0s 25ms/step - loss: 0.6955 - acc: 0.6000
Epoch 109/300
1/1 [==============================] - 0s 26ms/step - loss: 0.8323 - acc: 0.7000
Epoch 110/300
1/1 [==============================] - 0s 24ms/step - loss: 0.7078 - acc: 0.5000
Epoch 111/300
1/1 [==============================] - 0s 26ms/step - loss: 1.0755 - acc: 0.6000
Epoch 112/300
1/1 [==============================] - 0s 27ms/step - loss: 1.0770 - acc: 0.6000
Epoch 113/300
1/1 [==============================] - 0s 27ms/step - loss: 0.6333 - acc: 0.6000
Epoch 114/300
1/1 [==============================] - 0s 23ms/step - loss: 0.6844 - acc: 0.8000
Epoch 115/300
1/1 [==============================] - 0s 28ms/step - loss: 1.0599 - acc: 0.5000
Epoch 116/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7862 - acc: 0.7000
Epoch 117/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8852 - acc: 0.6000
Epoch 118/300
1/1 [==============================] - 0s 24ms/step - loss: 0.9391 - acc: 0.6000
Epoch 119/300
1/1 [==============================] - 0s 26ms/step - loss: 0.6215 - acc: 0.7000
Epoch 120/300
1/1 [==============================] - 0s 26ms/step - loss: 1.0606 - acc: 0.6000
Epoch 121/300
1/1 [==============================] - 0s 24ms/step - loss: 0.8519 - acc: 0.6000
Epoch 122/300
1/1 [==============================] - 0s 22ms/step - loss: 0.8248 - acc: 0.5000
Epoch 123/300
1/1 [==============================] - 0s 23ms/step - loss: 0.9851 - acc: 0.8000
Epoch 124/300
1/1 [==============================] - 0s 24ms/step - loss: 1.1347 - acc: 0.6000
Epoch 125/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7232 - acc: 0.7000
Epoch 126/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8478 - acc: 0.7000
Epoch 127/300
1/1 [==============================] - 0s 25ms/step - loss: 0.7181 - acc: 0.7000
Epoch 128/300
1/1 [==============================] - 0s 26ms/step - loss: 0.8960 - acc: 0.5000
Epoch 129/300
1/1 [==============================] - 0s 29ms/step - loss: 0.8257 - acc: 0.5000
Epoch 130/300
1/1 [==============================] - 0s 29ms/step - loss: 0.7500 - acc: 0.8000
Epoch 131/300
1/1 [==============================] - 0s 20ms/step - loss: 0.8789 - acc: 0.8000
Epoch 132/300
1/1 [==============================] - 0s 28ms/step - loss: 0.6392 - acc: 0.7000
Epoch 133/300
1/1 [==============================] - 0s 21ms/step - loss: 0.7622 - acc: 0.7000
Epoch 134/300
1/1 [==============================] - 0s 25ms/step - loss: 0.7672 - acc: 0.6000
Epoch 135/300
1/1 [==============================] - 0s 23ms/step - loss: 0.6828 - acc: 0.6000
Epoch 136/300
1/1 [==============================] - 0s 29ms/step - loss: 1.1907 - acc: 0.5000
Epoch 137/300
1/1 [==============================] - 0s 40ms/step - loss: 0.5923 - acc: 0.8000
Epoch 138/300
1/1 [==============================] - 0s 26ms/step - loss: 0.7094 - acc: 0.6000
Epoch 139/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8367 - acc: 0.6000
Epoch 140/300
1/1 [==============================] - 0s 22ms/step - loss: 1.1429 - acc: 0.6000
Epoch 141/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7656 - acc: 0.6000
Epoch 142/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7860 - acc: 0.5000
Epoch 143/300
1/1 [==============================] - 0s 26ms/step - loss: 0.7130 - acc: 0.7000
Epoch 144/300
1/1 [==============================] - 0s 24ms/step - loss: 0.9200 - acc: 0.4000
Epoch 145/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8358 - acc: 0.6000
Epoch 146/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7837 - acc: 0.6000
Epoch 147/300
1/1 [==============================] - 0s 26ms/step - loss: 0.7650 - acc: 0.7000
Epoch 148/300
1/1 [==============================] - 0s 32ms/step - loss: 1.0159 - acc: 0.7000
Epoch 149/300
1/1 [==============================] - 0s 30ms/step - loss: 1.3831 - acc: 0.5000
Epoch 150/300
1/1 [==============================] - 0s 31ms/step - loss: 0.9310 - acc: 0.7000
Epoch 151/300
1/1 [==============================] - 0s 24ms/step - loss: 0.7272 - acc: 0.7000
Epoch 152/300
1/1 [==============================] - 0s 24ms/step - loss: 0.9776 - acc: 0.7000
Epoch 153/300
1/1 [==============================] - 0s 24ms/step - loss: 0.7853 - acc: 0.6000
Epoch 154/300
1/1 [==============================] - 0s 27ms/step - loss: 0.7385 - acc: 0.7000
Epoch 155/300
1/1 [==============================] - 0s 32ms/step - loss: 0.7811 - acc: 0.7000
Epoch 156/300
1/1 [==============================] - 0s 21ms/step - loss: 0.7650 - acc: 0.6000
Epoch 157/300
1/1 [==============================] - 0s 31ms/step - loss: 0.8061 - acc: 0.4000
Epoch 158/300
1/1 [==============================] - 0s 25ms/step - loss: 0.7569 - acc: 0.7000
Epoch 159/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7210 - acc: 0.6000
Epoch 160/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7432 - acc: 0.6000
Epoch 161/300
1/1 [==============================] - 0s 20ms/step - loss: 1.0165 - acc: 0.6000
Epoch 162/300
1/1 [==============================] - 0s 26ms/step - loss: 0.7470 - acc: 0.7000
Epoch 163/300
1/1 [==============================] - 0s 28ms/step - loss: 0.6689 - acc: 0.7000
Epoch 164/300
1/1 [==============================] - 0s 30ms/step - loss: 0.6114 - acc: 0.7000
Epoch 165/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7207 - acc: 0.6000
Epoch 166/300
1/1 [==============================] - 0s 27ms/step - loss: 0.8221 - acc: 0.6000
Epoch 167/300
1/1 [==============================] - 0s 31ms/step - loss: 0.7126 - acc: 0.7000
Epoch 168/300
1/1 [==============================] - 0s 23ms/step - loss: 0.6090 - acc: 0.7000
Epoch 169/300
1/1 [==============================] - 0s 24ms/step - loss: 0.6099 - acc: 0.7000
Epoch 170/300
1/1 [==============================] - 0s 25ms/step - loss: 1.7772 - acc: 0.6000
Epoch 171/300
1/1 [==============================] - 0s 26ms/step - loss: 0.7109 - acc: 0.6000
Epoch 172/300
1/1 [==============================] - 0s 21ms/step - loss: 0.8204 - acc: 0.6000
Epoch 173/300
1/1 [==============================] - 0s 26ms/step - loss: 0.6866 - acc: 0.8000
Epoch 174/300
1/1 [==============================] - 0s 25ms/step - loss: 0.6210 - acc: 0.6000
Epoch 175/300
1/1 [==============================] - 0s 26ms/step - loss: 0.6568 - acc: 0.7000
Epoch 176/300
1/1 [==============================] - 0s 23ms/step - loss: 1.1452 - acc: 0.7000
Epoch 177/300
1/1 [==============================] - 0s 29ms/step - loss: 0.9252 - acc: 0.8000
Epoch 178/300
1/1 [==============================] - 0s 28ms/step - loss: 0.8430 - acc: 0.6000
Epoch 179/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7808 - acc: 0.6000
Epoch 180/300
1/1 [==============================] - 0s 29ms/step - loss: 0.6791 - acc: 0.8000
Epoch 181/300
1/1 [==============================] - 0s 30ms/step - loss: 0.9115 - acc: 0.6000
Epoch 182/300
1/1 [==============================] - 0s 24ms/step - loss: 0.6183 - acc: 0.7000
Epoch 183/300
1/1 [==============================] - 0s 26ms/step - loss: 0.8531 - acc: 0.6000
Epoch 184/300
1/1 [==============================] - 0s 22ms/step - loss: 0.6630 - acc: 0.7000
Epoch 185/300
1/1 [==============================] - 0s 30ms/step - loss: 0.6146 - acc: 0.7000
Epoch 186/300
1/1 [==============================] - 0s 22ms/step - loss: 0.8469 - acc: 0.7000
Epoch 187/300
1/1 [==============================] - 0s 29ms/step - loss: 0.6805 - acc: 0.5000
Epoch 188/300
1/1 [==============================] - 0s 30ms/step - loss: 1.0057 - acc: 0.5000
Epoch 189/300
1/1 [==============================] - 0s 29ms/step - loss: 0.7013 - acc: 0.5000
Epoch 190/300
1/1 [==============================] - 0s 21ms/step - loss: 0.7696 - acc: 0.7000
Epoch 191/300
1/1 [==============================] - 0s 31ms/step - loss: 0.5835 - acc: 0.8000
Epoch 192/300
1/1 [==============================] - 0s 25ms/step - loss: 0.8501 - acc: 0.6000
Epoch 193/300
1/1 [==============================] - 0s 25ms/step - loss: 0.6635 - acc: 0.7000
Epoch 194/300
1/1 [==============================] - 0s 21ms/step - loss: 0.7277 - acc: 0.7000
Epoch 195/300
1/1 [==============================] - 0s 27ms/step - loss: 1.2469 - acc: 0.5000
Epoch 196/300
1/1 [==============================] - 0s 28ms/step - loss: 1.1631 - acc: 0.6000
Epoch 197/300
1/1 [==============================] - 0s 34ms/step - loss: 0.8786 - acc: 0.5000
Epoch 198/300
1/1 [==============================] - 0s 29ms/step - loss: 0.8117 - acc: 0.5000
Epoch 199/300
1/1 [==============================] - 0s 29ms/step - loss: 0.8479 - acc: 0.6000
Epoch 200/300
1/1 [==============================] - 0s 26ms/step - loss: 0.8437 - acc: 0.6000
Epoch 201/300
1/1 [==============================] - 0s 31ms/step - loss: 1.2989 - acc: 0.6000
Epoch 202/300
1/1 [==============================] - 0s 28ms/step - loss: 0.7076 - acc: 0.7000
Epoch 203/300
1/1 [==============================] - 0s 33ms/step - loss: 0.6889 - acc: 0.6000
Epoch 204/300
1/1 [==============================] - 0s 27ms/step - loss: 0.6100 - acc: 0.5000
Epoch 205/300
1/1 [==============================] - 0s 23ms/step - loss: 0.6576 - acc: 0.7000
Epoch 206/300
1/1 [==============================] - 0s 28ms/step - loss: 0.9931 - acc: 0.7000
Epoch 207/300
1/1 [==============================] - 0s 23ms/step - loss: 0.6718 - acc: 0.6000
Epoch 208/300
1/1 [==============================] - 0s 27ms/step - loss: 0.8007 - acc: 0.5000
Epoch 209/300
1/1 [==============================] - 0s 25ms/step - loss: 0.7611 - acc: 0.7000
Epoch 210/300
1/1 [==============================] - 0s 23ms/step - loss: 0.7773 - acc: 0.6000
Epoch 211/300
1/1 [==============================] - 0s 27ms/step - loss: 0.9675 - acc: 0.6000
Epoch 212/300

In [60]:
# 모델 저장
model.save("candidate_generation.h5")

/usr/local/lib/python3.7/dist-packages/keras/engine/functional.py:1410: CustomMaskWarning: Custom mask layers require a config and must override get_config. When loading, the custom mask layer must be passed to the custom_objects argument.
  layer_config = serialize_layer_fn(layer)

In [61]:
# 모델 예측결과 추출
pred = model.predict([tf.keras.preprocessing.sequence.pad_sequences(test_data['product_id']),
           tf.keras.preprocessing.sequence.pad_sequences(test_data['order_dow']),
           tf.keras.preprocessing.sequence.pad_sequences(test_data['order_hour_of_day']), #+ 1e-10, dtype=float
           tf.keras.preprocessing.sequence.pad_sequences(test_data['days_since_prior_order'])
           ])

pred

array([[1.02698848e-22, 1.03545390e-22, 1.00556996e-22, ...,
        9.93130820e-23, 9.88851534e-23, 1.04519261e-22],
       [2.00543174e-21, 1.98481443e-21, 1.96044148e-21, ...,
        1.96044895e-21, 1.90174174e-21, 2.00828709e-21],
       [2.00543174e-21, 1.98481443e-21, 1.96044148e-21, ...,
        1.96044895e-21, 1.90174174e-21, 2.00828709e-21],
       ...,
       [2.00543174e-21, 1.98481443e-21, 1.96044148e-21, ...,
        1.96044895e-21, 1.90174174e-21, 2.00828709e-21],
       [2.00543174e-21, 1.98481443e-21, 1.96044148e-21, ...,
        1.96044895e-21, 1.90174174e-21, 2.00828709e-21],
       [2.00543174e-21, 1.98481443e-21, 1.96044148e-21, ...,
        1.96044895e-21, 1.90174174e-21, 2.00828709e-21]], dtype=float32)

In [62]:
# candidate generation: 
###### 각 user당 top-10개의 추천 후보 데이터(predict_label)를 뽑아낸다.
import numpy as np
N = 10
k = np.sort((-pred).argsort()[:,:N])
print(k)
k = k.flatten()
k[k>data["product"].max()]=0
k = np.unique(k)

[[ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]
 [ 2747 12382 25251 28979 29049 30245 30464 31212 38130 39861]]

In [ ]:
k

array([    0,  2747, 12382, 25251, 29049, 30464, 31212])

# 재주문 여부(reordered)

In [ ]:
# load candidate_generation 
model = tf.keras.models.load_model(
    'candidate_generation.h5',
    custom_objects={
        'L2NormLayer':L2NormLayer,
        'MaskedEmbeddingsAggregatorLayer':MaskedEmbeddingsAggregatorLayer
    }
)

In [ ]:
# 아이템의 속성(ex.aisle)을 불러오는 함수 

aisle_cols = aisles['aisle'].values.tolist()
# type(aisle_cols)
type(aisle_cols)
aisle_cols

aisles_encoded = {x: i for i, x in enumerate(aisle_cols)}


# movies-> product_enc
# genres-> aisles
# aisles -> ['a', 'b', 'c', ...]
def get_aisles(products, aisles):
	def get_all_aisles(ai):
		active = [str(aisles_encoded[aisle]) for aisle, a in zip(aisles, ai) if a==1]
		if len(active) == 0:
			return '0'
		return ','.join((active))
	
	products['all_aisles'] = [
                              get_all_aisles(ai) for ai in zip(*[products[aisle] for aisle in aisles]) # 문제없음.
                              ]

get_aisles(product_enc, aisle_cols)

In [ ]:
product_enc.head(1)

   product_id                product_name  ...  yogurt  all_aisles
0           1  Chocolate Sandwich Cookies  ...       0          60

[1 rows x 140 columns]

In [ ]:
data['reordered'].value_counts()

1    981131
0    584979
Name: reordered, dtype: int64

In [ ]:
ratings = data[['product_id', 'reordered']]
ratings

         product_id  reordered
0             45007          0
1             22613          0
2             28842          0
3             21405          0
4             26209          0
...             ...        ...
1566105       24097          0
1566106       14852          1
1566107       27061          0
1566108       19627          0
1566109        5192          0

[1566110 rows x 2 columns]

In [ ]:
# 래퍼런스 코드 : https://github.com/HYEZ/Deep-Youtube-Recommendations/blob/master/neural_net.ipynb